# Created by https://www.toptal.com/developers/gitignore/api/angular,storybookjs
# Edit at https://www.toptal.com/developers/gitignore?templates=angular,storybookjs

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/

### StorybookJs ###
# gitignore template for the Storybook, UI guide for front apps
# website: https://storybook.js.org/

storybook-static/

# End of https://www.toptal.com/developers/gitignore/api/angular,storybookjs

# Generated i18n files (built from JSON at build time)
locale/

*storybook.log
